<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/header :: header}"></div>

<body>
<div class="container">
	<!-- NAVIGATION -->
	<!--<div th:insert="~{fragments/nav :: nav}"></div>  -->
	<div th:replace="fragments/nav-minimal :: nav"></div>

	<div class="floating-tags-container">
		<span class="floating-tag tag-purple">{Ingénierie}</span> <span
			class="floating-tag tag-red">{Cryptographie}</span> <span
			class="floating-tag tag-cyan">{Développer}</span> <span
			class="floating-tag tag-yellow">{Réseau}</span>
	</div>

	<!-- account.html -->
	<h1>
		Ton dashboard <span style="color: #9e2d66;"
			th:text="${admin.username}">Admin !</span>
	</h1>

	<section>

		<!-- Insertion du fragment pour afficher les sessions créées -->
		<div th:replace="~{session/session :: sessionsSection}"></div>

	</section>


	<div th:insert="~{fragments/footer :: footer}"></div>
	</div>
</body>

</html>