<!-- NAVIGATION MINIMALE -->
<div th:fragment="nav">
	<header class="nav-header">

		<nav class="nav-container">
			<!-- Logo -->
			<div class="logo">
				<a th:href="@{/}"><img src="/images/logo_cadettes.png" alt="Logo Cadettes de la Cyber" /></a>
			</div>

			<!-- Titre -->
			<h1 class="nav-title"><a th:href="@{/}">CyberChall</a></h1>

			<!-- Actions de navigation -->
			<div class="nav-actions">
				<a th:href="@{/deconnexion}" class="nav-link" id="deco">Déconnexion</a>

				<ul>
					<li class="nav-item dropdown position-relative">
						<a href="#" class="nav-link" id="roue" onclick="toggleAccessibilityMenu()" title="Accessibilité">⚙️</a>
						<ul class="dropdown-menu dropdown-menu-dark position-absolute" id="accessibilityMenu" style="display: none;">
							<li><a href="#" onclick="adjustFontSize(1)">🔎 Agrandir le texte</a></li>
							<li><a href="#" onclick="adjustFontSize(-1)">🔍 Réduire le texte</a></li>
							<li>
								<div class="toggle-container" onclick="toggleDarkMode()">
									<div class="toggle-switch"></div>
								</div>
							</li>
						</ul>
					</li>
				</ul>

				<div class="burger-icon" onclick="toggleFullMenu()">+</div>
			</div>
		</nav>

		<!-- Menu déroulant -->
		<ul id="fullMenu" class="full-menu">
			<li><a th:href="@{/}">Accueil</a></li>
			<li><a th:href="@{/admin/account}">Mon Compte</a></li>
			<li><a th:href="@{/session/session}">Mes sessions</a></li>
			<li><a th:href="@{/admin/create-account}">Créer compte</a></li>
			<li><a th:href="@{/session/session-statistic}">Statistiques</a></li>
			<li><a th:href="@{/contact}">Contact</a></li>
		</ul>
	</header>

	<script>
		function toggleFullMenu() {
			const menu = document.getElementById("fullMenu");
			menu.classList.toggle("open");
		}

		function toggleAccessibilityMenu() {
			const menu = document.getElementById("accessibilityMenu");
			menu.style.display = menu.style.display === "none" ? "block" : "none";
		}

		function adjustFontSize(change) {
			const body = document.body;
			const currentSize = parseFloat(getComputedStyle(body).fontSize);
			body.style.fontSize = (currentSize + change) + "px";
		}

		function toggleDarkMode() {
		    toggleMode();
		}

	</script>
</div>